body {
  margin: 0px;
  min-height: 100vh;
  background-color: #f7f7f7;
}
.background {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head {
  height: 44px;
  width: auto;
  border: 1px solid #7b7b7b29;
  background-color: #ffffff;
  box-shadow: 0px 3px 30px #7b7b7b29;
  padding: 10px 70px;
  margin-top: 0px;
}
.box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.img1 {
  height: 50px;
  width: 50px;
}
.box1 {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.parent {
  box-sizing: border-box;
  display: flex;
  gap: 6%;
  flex-wrap: wrap;
  padding-left: 4%;
}
.list {
  width: 340px;
  height: 300px;
  border: 1px solid #ededed;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 2%;
}
.list:hover {
  box-shadow: 0px 0px 30px #67676729;
}
hr {
  border-top: #ededed;
}
.list1 {
  position: absolute;
  top: 170px;
  left: 70px;
}
.x {
  text-decoration: none;
}
.a {
  color: #00a5ec;
  font-size: 20px;
  margin: 30px 0px 0px 30px;
}
#b {
  text-decoration: line-through #c2c2c2;
  font-size: 18px;
  color: #c2c2c2;
  margin: 30px 0px 0px 30px;
}
#c {
  font-size: 18px;
  margin: 30px 0px 0px 30px;
}

.blur{
    background-color: #000000;
    opacity:0.1;
    cursor:none;
    z-index: 1;
    position: absolute;
}
.mid-box{
    width: 500px;
    height: 250px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    background-color: #FFFFFF;
    margin:16% 25%;
    position: absolute;
    z-index: 3;
    /* opacity: 0.7; */
}
#text
{
   width:445px;
   height: 40px;
   margin:0px 20px 0px;
   background-color: #F7F7F7;
   border: 1px solid #EDEDED;
   border-radius: 4px;
   padding-left:10px;
}
.d{
    font-size: 22px;
    margin:20px 20px 0px ;
}
.close{
    position: absolute;
    top: 20px;
    left: 462px;
    width: 18px;
    height: 18px;
}
.close:hover{
    cursor: pointer;
}
.btn{
    background-color: #00A5EC;
    color:white;
    border:1px solid #00A5EC;
    border-radius:5px;
    padding:5px;
    width: 180px;
    height: 48px;
    margin:40px 20px 20px 300px;
}
.btn:hover{
    cursor: pointer;
}

.nav-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 220px;
}
.item{
    display: flex;
    align-items: center;
}
.img2{
    height:35px;
    width:35px;
   
}
.box2{
    color:black;
    text-decoration: none;
    font-size: 20px;
}
.img3{
    height:50px;
    width:50px;
}
.box3{
    color:black;
    text-decoration: none;
    width: 150px;
    height: 26px;
    font-size: 22px;
}


.box4{
    width: 500px;
    height: 338px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #67676729;
    cursor: pointer;
    margin: auto;
}
