body{
    margin:0px;
    height:1000px;
    background-color: #F7F7F7;
}
.background{
    position:relative;
}

.head{
    height:44px;
    width:1366px;
    border:1px solid #7B7B7B29;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 30px #7B7B7B29;
    padding:10px 70px;
    margin-top:0px;
}
.box{
    position:relative;
    }
.img1{
    height:50px;
    width:50px;
    position: absolute;
    right:190px;
    top:5px;
    margin-right:14px;
}
.box1{
    color:black;
    text-decoration: none;
    position: absolute;
    right:70px;
    top:15px;
    font-size: 22px;
}
.list{
    width: 380px;
    height: 300px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    
}
.list:hover{
    box-shadow: 0px 0px 30px #67676729;
}
hr{
    border-top:#EDEDED;
}
.list1{
    position:absolute;
    top:170px;
    left:70px;
}
.x{
    text-decoration: none;
}
.a{
    color:#00A5EC;
    font-size: 20px;
    margin:30px 0px 0px 30px;
}
#b{
    text-decoration: line-through #C2C2C2;
    font-size:18px;
    color:#C2C2C2;
    margin:30px 0px 0px 30px;
}
#c{
    font-size:18px;
    margin:30px 0px 0px 30px;
}
.list2{
    position:absolute;
    top:170px;
    left:485px;
}
.list3{
    position:absolute;
    top:170px;
    right:70px;
}
.list4{
    position:absolute;
    top:500px;
    left:70px;
}
.list5{
    position:absolute;
    top:500px;
    left:485px;
}
.blur{
    background-color: #000000;
    opacity:0.2;
 
    cursor:none;
}
.mid-box{
    width: 500px;
    height: 250px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    background-color: #FFFFFF;
    margin:110px auto;
    position:relative;
}
#text
{
   width:445px;
   height: 40px;
   margin:0px 20px 0px;
   background-color: #F7F7F7;
   border: 1px solid #EDEDED;
   border-radius: 4px;
   padding-left:10px;
}
.d{
    font-size: 22px;
    margin:20px 20px 0px ;
}
.close{
    position: absolute;
    top: 20px;
    left: 462px;
    width: 18px;
    height: 18px;
}
.close:hover{
    cursor: pointer;
}
.btn{
    background-color: #00A5EC;
    color:white;
    border:1px solid #00A5EC;
    border-radius:5px;
    padding:5px;
    width: 180px;
    height: 48px;
    margin:40px 20px 20px 300px;
}
.btn:hover{
    cursor: pointer;
}
.img2{
    height:35px;
    width:35px;
    position: absolute;
    left:433px;
    top:48px;
    margin-right:14px;
}
.box2{
    color:black;
    text-decoration: none;
    position: absolute;
    left:484px;
    top:52px;
    font-size: 20px;
}
.img3{
    height:50px;
    width:50px;
    position: absolute;
    top: 40px;
    right: 560px;
    margin-right:14px;
}
.box3{
    color:black;
    text-decoration: none;
    position: absolute;
    top: 48px;
    right: 410px;
    width: 150px;
    height: 26px;
    font-size: 22px;
}
.box4{
    width: 500px;
    height: 338px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #67676729;
    cursor: pointer;
    position:absolute;
    top: 231px;
    left: 433px;
}
